/* form */
form label,form input,form small{
	display:block;
	padding: 0.5em 0;}
.form-textarea{
	margin:1em 0;
	width:30em;
	height:2.5em;
}
small{text-align:left;}
form{
	border:1px solid #dcdcdc;
	border-radius:5px;
	padding:1em 0.5em;
}

/* btn */
button{display:block;}
.btn{
	padding:10px 15px;
	border-radius:5px;
	background-color:#4169e1;
	color:white;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5))
}
.btn:active{
	filter:none;
	position:relative;
	top:1;
	left:1;
}
.btn:hover{
	background-color:#6495ed;
}
