*{
  box-sizing: border-box;
}
body{

}
small{
  display: block;
  text-align: center;
}
section,main,article{
  margin:0 auto;
  max-width:980px;
}

.content-inner{
  margin:0 auto;
  max-width:980px;
}
.flexbox{display:flex;}
.active{
  color: gray;
  text-decoration: underline;
}

.shadow{
  box-shadow: 2px 3px 3px 3px rgba(0,0,0,0.6);
 -webkit-box-shadow: 2px 3px 3px 3px rgba(0,0,0,0.6);
 -moz-box-shadow: 2px 3px 3px 3px rgba(0,0,0,0.6);
}

.slideUp{
  z-index: 1;
}

/* header */
nav{
  height: 4.5em;
  width:100%;
  margin-bottom:2em;
  box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.6);
 -moz-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.6);
}
.nav-img{
  width:5em;
  margin-left: 2em;
}
.nav-img img{
  height:98%;
}
.nav-link{
  flex-grow: 20;
}
.nav-link ul{
  height: 4.5em;
  justify-content: center;
  align-items:flex-end;
}
.nav-link li{
  margin:0 2em;
  padding-bottom:7px;
}

/* footer */
footer{
  height: 3em;
  margin-top:4em;
}