<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>accountCreate</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/acountCreate.css">
</head>
<body>
	<h1>Create Account</h1>
	<table>
		<!-- formにenctypeを設定しない場合、画像の中身が送信されないため注意 -->
	<form th:action="@{/csrf/passed}" th:object="${formModel}" enctype="multipart/form-data" method="post" >
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="err" th:text="${error.message}">
		</ul>
			<tr>
				<td><label for="username">名前</label></td>
				<td><input type="text" name="username" th:value="*{username}" /></td>
			</tr>
			<tr>
				<td><label for="password">パスワード</label></td>
				<td><input type="text" name="password" th:value="*{password}" /></td>
			</tr>
			<tr>
			<tr>
				<td><label for="email">Email</label></td>
				<td><input type="text" name="email" th:value="*{email}" /></td>
			</tr>
			<tr>
				<td><label for="profile">Profile</label></td>
				<td><input type="text" name="profile" th:value="*{profile}" /></td>
			</tr>
			<tr>
			<tr>
				<td></td><td><input type="submit" /></td>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</tr>
		</form>
	</table>
</body>
</html>